/AnnotationDemo$Cache.class
/AnnotationDemo$CacheTest.class
/AnnotationDemo$User.class
/AnnotationDemo.class
/Entity.class
/Immutable.class
/Localized.class
/NonNull.class
/Param.class
/Point.class
/ReadOnly.class
/ReceiverDemo$Sequence$Iterator.class
/ReceiverDemo$Sequence.class
/ReceiverDemo.class
/TypeUseAnnotations$Message.class
/TypeUseAnnotations$Warning.class
/TypeUseAnnotations.class
/package-info.class
